* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#movie-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px;
    justify-content: space-around;
    align-content: space-around;
}



